<h2>Hello, Netguru!</h2>
<h3>Listing of citations</h3>

<%= link_to "<button>Add new citation</button>".html_safe, new_citation_path %>

<% @citations.each do |citation| %>
  <section class="citation_section">
    <p class="citation_text">"<%= citation.citation %>"</p>
    <h5><%= citation.author %></h5>
  </section>
<% end %>
