<h1>Hello, Netguru!</h1>
<%= link_to 'New citation', new_citation_path %>
<h1>Listing citations</h1>
<table>
  <tr>
    <th>Citation</th>
    <th>Author</th>
    <th></th>
  </tr>

  <% @citations.each do |citation| %>
    <tr>
      <td><%= citation.citation %></td>
      <td><%= citation.author %></td>
    </tr>
  <% end %>
</table>